<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {
inlineMath: [ ['$','$'], ["\\(","\\)"] ],
processEscapes: true
}
});
</script>
<style>
body {
font-family: "Helvetica";
color: #ecf0f1;
background-color: #243342;
}
a {
color: #ecf0f1;
}
img {
max-width : 100%;
}
.nte-upload-button {
border: none;
border-radius : 8px;
border: 2px solid white;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
</style>
</head>
<body>
{{kNTEContent}}

</body>

